@model WebChat.ViewModels.ChatViewModel
@using System.Security.Claims;


@{
    ViewBag.Title = "Chat";
    ViewBag.PageCSS = "chat.css";
}

<section class="content">
    <div class="chat">
        <div class="contacts">
            <div class="chat-header">
                <input class="input-search-contact" placeholder="Pesquise um usuário..." />
            </div>

            <div class="contacts-list">
                @if (Model.Users != null)
                {
                    @foreach (var user in Model.Users)
                    {

                        @if(user.Email != User.FindFirst(ClaimTypes.Email).Value)
                        {
                            <div class="contact-item">
                                <div class="image-contact">
                                    <img src="~/images/user.svg"/>
                                </div>

                                <div class="contact-info">
                                    <p>@String.Concat(user.Name, user.Hash)</p>
                                </div>
                            </div>
                        }

                    }
                }
                else
                {
                    <h3>Nenhum usuário encontrado.</h3>
                }
            </div>
        </div>


        <div class="conversation">
            <section class="bg-home">
                <img src="~/images/chat-bg.svg" />

                <h2>Comece agora mesmo uma conversa e aumente seu networking na sua área de atuação</h2>
            </section>
            
            <div class="chat-header" id="conversation-header">
                <div class="picture-header">
                </div>

                <h2 class="name-header">Lucas Gabriel</h2>
            </div>


            <main class="conversation-chat">
                <div class="chat-itens">
                    
                    <section class="messages">
                        @*@for(int i = 0; i < 100; i++)
                        { 
                            <div class="box-message-left">
                                <div class="contact-indicator"></div>
                                <div class="box-contact-message">
                                    <p>a</p>
                                    <h6 class="hour-message">@DateTime.Now.ToString("hh:mm")</h6>
                                </div>
                            </div>

                            <div class="box-message-right">
                                <div class="my-indicator"></div>
                                
                                <div class="box-my-message">
                                    <p>Olá mundoaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

                                    <h6 class="hour-message">@DateTime.Now.ToString("hh:mm")</h6>
                                </div>                                
                            </div>
                        }*@
                    </section>

                    <div class="message-itens">
                        <input class="input-send-message" placeholder="Digite aqui sua mensagem..." maxlength="900"/>

                        <div class="box-send-message-icon">
                            <img src="~/images/send.svg" />
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>