@model WebChat.Application.ViewModels.ChatViewModel
@using System.Security.Claims;


@{
    ViewBag.Title = "Chat";
    ViewBag.PageCSS = "chat.css";
}

<script>
    var myId = Number(@User.Claims.ToList()[3].Value)                           
</script>

<section class="content">
    <div class="chat">
        <div class="contacts">
            <div class="chat-header">
                <input class="input-search-contact" placeholder="Pesquise um usuário..." />
            </div>

            <div class="contacts-list">
                @if (Model.Users != null)
                {
                    @foreach (var user in Model.Users)
                    {
                        @if(user.Email != User.FindFirst(ClaimTypes.Email).Value)
                        {
                            <div class="contact-item" onclick="loadUser(@user.Id)">
                                <div class="image-contact">
                                    <img src="~/images/user.svg"/>
                                </div>

                                <div class="contact-info">
                                    <p>
                                        @user.Name<span class="hash-indicator">@user.Hash</span>
                                    </p>
                                </div>
                            </div>
                        }

                    }
                }
                else
                {
                    <h3>Nenhum usuário encontrado.</h3>
                }
            </div>
        </div>


        <div class="conversation">
            <section class="bg-home">
                <img src="~/images/chat-bg.svg" />

                <h2>Comece agora mesmo uma conversa e aumente seu networking na sua área de atuação</h2>
            </section>
            
            <div class="chat-header" id="conversation-header">
                <div class="picture-header">
                    <img src="~/images/user.svg" />
                </div>

                <h2 class="name-header">Lucas Gabriel</h2>
            </div>


            <main class="conversation-chat">
                <div class="chat-itens">
                    
                    <section class="messages">

                    </section>

                    <div class="message-itens">
                        <input class="input-send-message" placeholder="Digite aqui sua mensagem..." maxlength="2047483647"/>

                        <div class="box-send-message-icon">
                            <img src="~/images/send.svg" />
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>13